<div class="relative flex flex-col min-h-full">
  <nav class="flex-shrink-0 bg-indigo-600">
    <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center px-2 lg:px-0 xl:w-64">
          <div class="flex-shrink-0">
            <img
              class="w-auto h-8"
              src="https://tailwindui.com/img/logos/workflow-mark-indigo-300.svg"
              alt="Workflow"
            />
          </div>
        </div>
        <a class="text-white" [routerLink]="['/module-a']">Log Out</a>
      </div>
    </div>
  </nav>
  <div class="">
    <p class="flex justify-center mt-10 text-3xl font-bold">
      Settings Component
    </p>
  </div>
</div>
